/*Classes Gerais*/
*{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.between{
    justify-content: space-between;
}
.around{
    justify-content: space-around;
}
.flex{
    display: flex;
}
.margem{
    margin-left: 20%;
    margin-right: 20%;
    width: 60%;
    height: 100%;
}

/*Menu*/

li{
    display: inline;
    padding: 15px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 25px;
    line-height: 22px;

    letter-spacing: 0.02em;

    color: #030303;
}
a{
    text-decoration: none;
    color: #0F1130;
}

/*Header*/
#header_header{
    margin-left: 15%;    
    margin-right: 15%; 
    margin-top: 40px;   
}
#Logo{
    position: absolute;
    width: 31px;
    height: 38px;
    border-radius: 7px;
}
#IF{
    position: absolute;
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 30px;
    line-height: 38px;
    letter-spacing: -0.01em;
    color: #0F1130;
 

    margin-left: 65px;
    margin-top: 3px;
}
#Quest{
    position: absolute;
    top: 25px;

    width: 180px;
    height: 80px;
}

#Onibus{
    position: absolute;
    width: 952px;
    height: 582px;
    margin-left: 250px;
    margin-top: 150px;
}
#mu{
    position: absolute;
    width: 521px;
    height: 365px;
    margin-left: 330px;
}
#Titulo{
    position: absolute;
    width: 521px;
    height: 144px;
    margin-left: 80px;
    margin-top: 250px;

    font-style: normal;
    font-weight: 700;
    font-size: 80px;
    line-height: 72px;

    color: #101130;
}
#txt1{
position: absolute;
width: 447px;
height: 96px;
margin-left: 80px;
margin-top: 420px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 32px;

color: #606176;
}

#BotaoHeader{
    margin-left: 90px;
    margin-top: 580px;

    height: 60px;
    width: 250px;    
}

/*Parte 02*/
#tabela{
    position: absolute;
    width: 516px;
    height: 200px;
    top: 988px;
}
#locomocoes{
    width: 607px;
    height: 661px;
    margin-left: 20px;
}
#como{
    position: absolute;
    width: 478px;
    height: 112px;
    margin-left: 580px;
    top: 925.33px;  

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 44px;
    line-height: 56px;
    
    letter-spacing: -0.01em;

    color: #101130;
}
.quadrado{
    width: 256px;
    height: 222px;
}
#bicicleta{
    position: absolute;
    width: 256px;
    margin-left: 580px;
    top: 1105px;
}
#carro{
    position: absolute;
    width: 269px;
    height: 222px;
    margin-left: 900px;
    top: 1105px;
}
#pedestres{
    position: absolute;
    width: 256px;
    height: 222px;
    margin-left: 580px;
    top: 1350px;
}
#onibus{
    position: absolute;
    width: 269px;
    height: 222px;
    margin-left: 900px;
    top: 1350px;
}
#icon_bicicleta{
    width: 44px;
    height: 40px;

    padding: 10px;   
    background: #D2F1E1;
    border-radius: 16px;
}
#icon_carro{
    width: 54px;
    height: 35px;

    padding: 10px;   
    background: #D2F1E1;
    border-radius: 16px;
}
#icon_pedestres{
    width: 53px;
    height: 56px;

    padding: 10px;   
    background: #D2F1E1;
    border-radius: 16px;
}
#icon_onibus{
    width: 65px;
    height: 56px;

    padding: 10px;   
    background: #D2F1E1;
    border-radius: 16px;
}

/*Parte 03*/
iframe{
    border-radius: 5%;
    
    position: absolute;
    width: 450px;
    height: 300px;
    top: 1890px;
    z-index: 1;

}
#cinzinha{
    position: absolute;
    width: 485px;
    height: 455px;
    margin-left: 44px;
    top: 1807px;

    background: #F6F5FA;
    border-radius: 18px;
}

.texto{
    height: 50%;
    width: 50%;
}
.texto h1{
    position: absolute;
    width: 476px;
    height: 114px;
    margin-left: 119px;
    top: 1800px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 44px;
    line-height: 56px;

    letter-spacing: -0.01em;

    color: #101130;
}
.texto p{
    position: absolute;
    width: 526px;
    height: 200px;
    margin-left: 119px;
    top: 1960px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;    
    
    color: #606176;
}

#BotaoAssistir{
    margin-left: 119px;
    margin-top: 780px;

    height: 60px;
    width: 250px;
}


/*Parte 04*/
#primeira_imagem{
    border-radius: 10%;
    position: absolute;
    width: 296.73px;
    height: 260.43px;
    margin-left: 147.65px;
    top: 2757px;
}
#bbb{
    position: absolute;
    width: 584px;
    height: 183px;
    margin-left: 139px;
    top: 2549px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 44px;
    line-height: 56px;

    letter-spacing: -0.01em;

    color: #101130;
}
#ccc{
    position: absolute;
    width: 315.27px;
    height: 72.61px;
    margin-left: 147.65px;
    top: 3042.69px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 26px;

    letter-spacing: -0.01em;

    color: #101130;
}
#ddd{
    position: absolute;
    width: 300.39px;
    height: 241.84px;
    margin-left: 147.65px;
    top: 3085.2px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;

    letter-spacing: -0.01em;

    color: #000000;

}
#eee{
    position: absolute;
    width: 296px;
    height: 260px;
    margin-left: 70px;
    top: 2757px;
}
#fff{
    position: absolute;
    width: 250px;
    height: 26px;
    margin-left: 70px;
    top: 3042.69px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 26px;

    letter-spacing: -0.01em;

    color: #101130;
}
#ggg{
    position: absolute;
    width: 295.21px;
    height: 126.72px;
    margin-left: 70px;
    top: 3088.68px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: -0.01em;

    color: #000000;

}
#hhh{
    box-sizing: border-box;

    position: absolute;
    width: 291px;
    height: 208px;
    top: 2794px;

    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 12px;
}
#iii{
    position: absolute;
    width: 309.79px;
    height: 90.77px;
    top: 3042px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 26px;

    letter-spacing: -0.01em;

    color: #101130;
}
#jjj{
    position: absolute;
    width: 299px;
    height: 239px;
    top: 3080px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: -0.01em;

    color: #000000;
}

#textinho_ciclista{
    bottom: 397px;
}
#textinho_acessibilidade{
    bottom: 397px;
}
#textinho_seguranca{
    bottom: 397px;
}

/*Botao diferente*/
div[class*=box] {
  display: flex;
  justify-content: center;
  align-items: center;
}

.box-1 { 
    background-color: #3BB77E; 
    border-radius: 16px;
}

.btn {
	line-height: 50px;
	height: 50px;
	text-align: center;
	width: 250px;
	cursor: pointer;
}
.btn-one {
	color: #FEF4F1;
	transition: all 0.3s;
	position: relative;
}
.btn-one span {
	transition: all 0.3s;
}
.btn-one::before {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	opacity: 0;
	transition: all 0.3s;
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-top-style: solid;
	border-bottom-style: solid;
	border-top-color: rgba(255,255,255,0.5);
	border-bottom-color: rgba(255,255,255,0.5);
	transform: scale(0.1, 1);
}
.btn-one:hover span {
	letter-spacing: 2px;
}
.btn-one:hover::before {
	opacity: 1;	
	transform: scale(1, 1);	
}
.btn-one::after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	transition: all 0.3s;
	background-color: rgba(255,255,255,0.1);
}
.btn-one:hover::after {
	opacity: 0;	
	transform: scale(0.1, 1);
}

/*Botao Questionário*/
  
  .box-2 { 
      background-color: #D2FFEA; 
      border-radius: 16px;
  }
  
  .btn {
      line-height: 50px;
      height: 50px;
      text-align: center;
      width: 250px;
      cursor: pointer;
  }
  .btn-two {
      color: #3BB77E;
      transition: all 0.3s;
      position: relative;
  }
  .btn-two span {
      transition: all 0.3s;
  }
  .btn-two::before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
      opacity: 0;
      transition: all 0.3s;
      border-top-width: 1px;
      border-bottom-width: 1px;
      border-top-style: solid;
      border-bottom-style: solid;
      border-top-color: rgba(255,255,255,0.5);
      border-bottom-color: rgba(255,255,255,0.5);
      transform: scale(0.1, 1);
  }
  .btn-two:hover span {
      letter-spacing: 2px;
  }
  .btn-two:hover::before {
      opacity: 1;	
      transform: scale(1, 1);	
  }
  .btn-two::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
      transition: all 0.3s;
      background-color: rgba(255,255,255,0.1);
  }
  .btn-two:hover::after {
      opacity: 0;	
      transform: scale(0.1, 1);
  }
  